mqtt_host: 127.0.0.1
mqtt_port: 1883
devices:
  - ip: 192.168.1.100
    mac: 111111111111
    type: socket
    name: Orvibo S20 - living room
  - ip: 192.168.1.101
    mac: 222222222222
    type: irda
    name: IR LG Air conditioner
  - ip: 192.168.1.102
    mac: 333333333333
    type: socket
    name: Orvibo S20 - kitchen