mqtt_host: 127.0.0.1
mqtt_port: 1883
devices:
  - ip: 192.168.1.100
    type: switch
    name: Orvibo S20 - living room
  - ip: 192.168.1.101
    type: climate
    name: IR LG Air conditioner
  - ip: 192.168.1.102
    type: light
    name: Orvibo S20 - kitchen